<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PS2CN_Launcher.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <userSettings>
        <PS2CN_Launcher.My.MySettings>
            <setting name="ENLocaleVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="ENClientLocation" serializeAs="String">
                <value>D:\Games\PlanetSide 2\PlanetSide2_x64.exe</value>
            </setting>
            <setting name="PingServer" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CheckedCN" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Checked32bit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckedENVoice" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClientType" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="TESTLocaleVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="TESTClientLLocation" serializeAs="String">
                <value>D:\Games\PlanetSide 2 Test\PlanetSide2_x64.exe</value>
            </setting>
            <setting name="KORLocaleVersionEN" serializeAs="String">
                <value />
            </setting>
            <setting name="KORClientLLocation" serializeAs="String">
                <value>D:\Games\PlanetSide 2 KOR\PlanetSide2_x64.exe</value>
            </setting>
            <setting name="RULocaleVersionEN" serializeAs="String">
                <value />
            </setting>
            <setting name="RUClientLLocation" serializeAs="String">
                <value>D:\Games\PlanetSide 2 RU\PlanetSide2_x64.exe</value>
            </setting>
            <setting name="KORLocaleVersionKOR" serializeAs="String">
                <value />
            </setting>
            <setting name="RULocaleVersionRU" serializeAs="String">
                <value />
            </setting>
            <setting name="TimeZone1" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="TimeZone2" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="TimeZone3" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="TimeHour" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="CheckedDST1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckedDST2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckedDST3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimeSelection" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FunctionSelector" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FontSelector" serializeAs="String">
                <value>使用默认字体</value>
            </setting>
            <setting name="CheckedAutoRestore" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckedShowFunctionUI" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="STEAMClientLocation" serializeAs="String">
                <value>D:\Games\Steam\SteamApps\common\PlanetSide 2\PlanetSide2_x64.exe</value>
            </setting>
            <setting name="STEAMLocaleVersion" serializeAs="String">
                <value />
            </setting>
        </PS2CN_Launcher.My.MySettings>
    </userSettings>
</configuration>
